@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
.App {
  text-align: center;
  margin: auto;
}

/* colors */
.green-offset {
  color: lightgreen;
}

.pink-main {
  color: lightpink;
  -webkit-text-fill-color: lightpink;
  -webkit-text-stroke-color: palevioletred;
}

.outlined {
  -webkit-text-stroke-width: 1px;
}
body {
  background-color: white;
}
.header {
  background-color: lightgrey;
  min-height: 40vh;
}

.title-section {
  display: flex;
  flex-direction: column-reverse;
}
.title {
  display: flex;
  justify-content: center;
 }
.title h1 {
  font-family: 'Livvic', sans-serif;
  font-size: 3rem;
  margin-botton: 10px;
}
.color-toggle-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 11px;
  margin-right: 15px;
  height: 30px;
  min-width: 121px;
 }
input {
  border-radius: 15px;
}
.suggestion-line{
  margin-bottom: 0px;
}
p + br {
  height: 2px;
}
button {
  border-radius: 15px;
}
.language-button {
  background-color: lightskyblue;
  margin: 20px 5px;
  height: 30px;
  width: 50px;
}

.display-section {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}
.display-container {
  min-height: 220px;
}
.display-box {
  background-color: whitesmoke;
  border: 1px solid darkgrey;
  min-height: 100%;
  max-width: 100%;
  padding: 10px;
}
code {
  font-family: monospace;
 }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}